
.bgimg{
    background-image:url('../img/banner-06.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    position: relative;
    background-position-y: -151px;
    background-attachment: fixed;
    height: 370px;
}
@media screen and (max-width:530px) {
    .bgimg{
        
        background-position-x: center;
        
    }
  
     
}

@media screen and (max-height:500px) {
    .bgimg{
        
       height: 100vh;
       background-position-y: center;
       
        
    }
}
.follow-div{
    background-image:url('../img/banner-05.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    position: relative;
    /* background-position-y: -151px; */
    background-attachment: fixed;
}