@media screen and (max-width:1100px) {
    
    .leftul{
        display:none;

    }

    .hamburger{
        display: flex;
        /* flex-direction: column;
        width: 90%;
        background-color: white;
        color: black;
        padding: 20px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27) ; */
    }
}
.ulis{
    height: 100vh;
    overflow: auto;
}
/* @media screen and (max-width:700px) {

    .right-ul:nth-child(1){
        display: none;
    }
}
@media screen and (max-width:650px) {

    .right-ul:nth-child(3){
        display: none;
    }
}
@media screen and (max-width:600px) {

    .right-ul:nth-child(2){
        display: none;
    }
} */

