.custom-cursor {
    position: fixed;
    z-index: 9999;
    pointer-events: none;
  }
  
  .owl-carousel {
    width: 1000px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; /* Customize the background */
  }
  